<!-- Home Navbar -->
<div class="home_navbar">
  <div class="home_navbar_logo">
    <a href="javascript:history.go(0)">White Glade</a>
  </div>
  <div id="genders" class="genders">
    <div class="mars_stroke">
      <i class="fas fa-mars fa-lg"></i>
    </div>
    <div class="venus_stroke">
      <i class="fas fa-venus fa-lg"></i>
    </div>
  </div>
</div>

<!-- Home Banner -->
<div class="home_banner">
  <div class="home_title"><h1>White Glade</h1></div>
  <div class="home_text"><p>For powder enthusiasts ❄️ 🤟</p></div>
</div>

<!-- Home Carousel -->

<div id="carousel_shell">

  <div id="carousel_left_arrow"></div>

  <div id="carousel_container">

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/nike-sb-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/burton-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/new-balance-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/billabong-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/new-era-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/bench-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/nike-sb-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/burton-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/new-balance-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/billabong-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/new-era-logo.png">
      </div>
    </div>

    <div class="item">
      <div class="item_image">
        <img src="assets/carousel/bench-logo.png">
      </div>
    </div>

  </div>

  <div id="carousel_right_arrow"></div>

</div>
