#carousel_shell {
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel_container {
  width: 85%;
  margin: 3vh;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel_item_container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel_item_container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel_item {
  float: left;
}

.item {
  display: block;
  min-width: 160px;
  margin: 10px;
}

.item_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_next {
  background: center no-repeat url(/assets/carousel/arrow_right.svg);
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 1;
}

.carousel_prev {
  background: center no-repeat url(/assets/carousel/arrow_left.svg);
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 1;
}

.carousel_next:hover, .carousel_prev:hover {
  transform: scale(1.4);
}
