.home_navbar {
  min-height: 10vh;
  width: auto;
  background: white;
  display: flex;
  align-items: center;
}

.home_navbar_logo a {
  margin-left: 40px;
  color: #5c92a5;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2.5vh;
  font-weight: bold;
}

.home_navbar_logo {
  transition: transform 0.6s;
}

.home_navbar_logo:hover {
  transform: scale(1.1);
}

.genders {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 135px;
    margin-left: 60px;
}

.mars_stroke, .venus_stroke {
    font-size: 2.5vh;
    margin-left: 20px;
    color: #5c92a5;
    cursor: pointer;
    transition: transform 0.6s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.mars_stroke:hover, .venus_stroke:hover {
  transform: scale(1.4);
}

.home_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/assets/banner.jpg);
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

.home_banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 7vh;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  transition: transform 0.3s;
}

.home_banner p {
  font-size: 2.5vh;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Lobster', cursive;
  transition: transform 0.3s;
}
