<!DOCTYPE html>
<html>
  <head>
    <title>WhiteGlade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/fafd11bfb7.js" crossorigin="anonymous"></script>

    <!-- Global styles -->
    <style>
      body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
      }
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
